
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Listado de clientes", "Listado", "Clientes");
<br />
@Html.ActionLink("Crear clientes", "Crear", "Clientes");
<br />
@Html.ActionLink("Listado de proveedores", "Listado", "Proveedores");
<br />
@Html.ActionLink("Crear proveedores", "Crear", "Proveedores");
