
@{
    ViewBag.Title = "Listado";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Listado</title>
</head>
<body>
    <div>
        <h1>Listado de Proveedores</h1>
        <p>************************</p>
        @Html.ActionLink("Crear clientes", "Crear");
        <br />
        @Html.ActionLink("Retornar a pagina principal", "Index", "Home");
    </div>
</body>

</html>

